**/.DS_Store
**/.idea/
**/__pycache__/
predict-digit/res/char/*
predict-digit/res/model_checkpoint/*
predict-digit/tmp/Fnt/
predict-digit/cnn-example/checkpoints/
predict-digit/cnn-example/mnist_graph/
predict-digit/cnn-example/mnist_data/
