**/.DS_Store

# cnn-example
cnn-example/checkpoints/
cnn-example/mnist_graph/
cnn-example/mnist_data/

# predict-digit
**/__pycache__/
predict-digit/res/char/*
predict-digit/res/model_checkpoint/*
predict-digit/tmp/Fnt/
